@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

h1 {
  color: #212121;
  font-family: 'Noto Sans TC', sans-serif;
}

.text-input {
  overflow: auto;
  width: 50vw;
  outline: none;
  border: none;
  color: #212121;
  font-weight: bold;
  font-size: 2em;
  font-family: 'Noto Sans TC', sans-serif;
}

input[type=file] {
  font-size: 1em;
}

textarea {
  overflow: auto;
  width: 50vw;
  height: 60vh;
  outline: none;
  border: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #212121;
  font-size: 20px;
  font-family: 'Noto Sans TC', sans-serif;
  resize: none;
}

.flex-column {
  flex-direction: column;
  text-align: center;

  justify-content: center;
}

.btn {
  border-style: solid;
  background-color: transparent;
  font-size: 1.5em;
  font-family: 'Noto Sans TC', sans-serif;
}
